* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
}

body {
  background-color: light-dark(#fff, #272833);
  font-family: sans-serif;
}

#container {
  background-image: url("./grid.png");
  height: 100vh;
  width: 100vw;
}

aside {
  background: light-dark(rgba(0, 0, 0, 10%), rgba(0, 0, 0, 70%));
  padding: 4px;
  position: absolute;
  top: 0;
}

#function {
  box-shadow: 2px 2px 2px light-dark(#0004, #4444);
  border-bottom-right-radius: 4px;
  padding: 8px;
}

#controls {
  box-shadow: -2px 2px 2px light-dark(#0004, #4444);
  border-bottom-left-radius: 4px;
  padding: 8px;
  right: 0;

  &.hidden {
    display: none;
  }

  caption {
    font-weight: bold;
  }

  td:first-child {
    padding-right: 4px;
    text-align: right;
  }
}
