:root {
  color-scheme: ligth dark;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#figures {
  display: flex;
  height: 70vh;
}

#elliptic line {
  line {
    stroke: #000;
  }
}

figure {
  aspect-ratio: 1;
  background-color: light-dark(#ccc, #333);
  background-image: url("./grid.png");
  border-radius: 0.2em;
}

#controls {
  background: light-dark(#ccc, #333);
  border-radius: 0.2em;
  font-size: 1.5em;
  padding: 0.5em;
  width: 30%;

  > table {
    margin: 0 auto;
  }

  input[type="number"] {
    font-size: 1em;
    width: 6ch;
  }
}
